.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background-color: #FFFEFC; /* Background color matching Voicezon's theme */
    border-bottom: 1px solid #D1D1D1; /* Light border for separation */
}

.headerContainer {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 12px 20px;
}

.headerTitleContainer {
    display: flex;
    align-items: center;
    margin-left: 14px;
    text-decoration: none;
}

.headerTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    color: #1C534A; /* Accent color */
}

.headerIcon {
    height: 32px;
    width: auto;
    margin-left: 36px;
}

.shareButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 12px;
    gap: 4px;
    width: 86px;
    height: 32px;
    background: radial-gradient(109.81% 107.82% at 100.1% 90.19%, #0F6CBD 33.63%, #2D87C3 70.31%, #8DDDD8 100%); /* Updated gradient */
    border-radius: 8px; /* More rounded corners */
    flex: none;
    order: 1;
    flex-grow: 0;
    position: absolute;
    right: 20px;
    cursor: pointer;
    transition: background 0.3s ease; /* Smooth transition for hover effect */
}

.shareButtonContainer:hover {
    background: radial-gradient(109.81% 107.82% at 100.1% 90.19%, #1D5BB8 33.63%, #235F9D 70.31%, #6CC2B0 100%); /* Darker gradient on hover */
}

.shareButton {
    color: #FFFFFF;
}

.shareButtonText {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.urlTextBox {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #707070;
    border: 1px solid #D1D1D1;
    border-radius: 8px; /* More rounded corners */
    padding: 8px;
}

.copyButtonContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 12px;
    gap: 4px;
    background: #FFFEFC; /* Background color matching Voicezon's theme */
    border: 1px solid #D1D1D1;
    border-radius: 8px; /* More rounded corners */
    transition: background 0.3s ease; /* Smooth transition for hover effect */
}

.copyButtonContainer:hover {
    cursor: pointer;
    background: #F0F0F0; /* Light gray on hover */
}

.copyButton {
    color: #424242;
}

.copyButtonText {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #1C534A; /* Accent color */
}
